.footer {
	margin-top: 5em;
	padding-top: 21px;
	height: 10vh;
	display: flex;
	justify-content: space-evenly;
	padding-left: 20px;
	padding-bottom: 20px;
	background-image: linear-gradient(to right, #ec6ead, #3494e6);
	color: white;
	margin-top: 2em;
	bottom: 0;
	a {
		color: inherit;
	}
}

.footer__link {
	color: white;
	&:hover {
		color: #999;
		text-decoration: none;
	}
}
